.main {
  background-color: lightblue;
}
.main .main-heading {
  font-size: 2em;
}
.main .main-paragraph {
  font-size: 1.4em;
}

.main h1,
.main p,
footer h1,
footer p {
  letter-spacing: 1px;
}

.container-1 .main {
  background-color: lightblue;
}
.main .main-heading {
  font-size: 2em;
}
.main:hover {
  background-color: salmon;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--text-color);
}

.alert {
  color: red;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  width: 600px;
  height: 400px;
  background-color: #eaeaea;
}
.container-2 .box {
  width: 60px;
  height: 60px;
  background-color: #bada55;
  text-align: center;
  line-height: 60px;
}

.square-picture {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.circle-picture {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.nav {
  background-color: #999;
  color: #ddd;
}

.right-triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 2em;
  border-top-color: black;
}

.gradient {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gradient li:nth-child(1) {
  padding: 4px;
  background-color: #fa897c;
}
.gradient li:nth-child(2) {
  padding: 4px;
  background-color: #fb9286;
}
.gradient li:nth-child(3) {
  padding: 4px;
  background-color: #fb9b90;
}
.gradient li:nth-child(4) {
  padding: 4px;
  background-color: #fba399;
}
.gradient li:nth-child(5) {
  padding: 4px;
  background-color: #fcaca3;
}
.gradient li:nth-child(6) {
  padding: 4px;
  background-color: #fcb5ad;
}
.gradient li:nth-child(7) {
  padding: 4px;
  background-color: #fcbeb7;
}
.gradient li:nth-child(8) {
  padding: 4px;
  background-color: #fdc7c1;
}
.gradient li:nth-child(9) {
  padding: 4px;
  background-color: #fdd0cb;
}
.gradient li:nth-child(10) {
  padding: 4px;
  background-color: #fdd9d5;
}

.socials {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.socials .youtube {
  color: #ff0000;
}
.socials .facebook {
  color: #3b5998;
}
.socials .twitter {
  color: #1da1f2;
}
.socials .instagram {
  color: #ffbf34;
}

.header-link ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-link ul li {
  display: inline-block;
}
.header-link ul li {
  background-color: black;
  padding: 0.7em;
}
.header-link ul li a {
  color: white;
}

.footer-link ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-link ul li {
  display: inline-block;
}
.footer-link ul li {
  background-color: salmon;
  padding: 0.4em;
}
.footer-link ul li a {
  color: white;
  text-decoration: none;
}

.footer .footer-heading {
  font-size: 2em;
}
.footer .footer-paragraph {
  font-size: 1.4em;
}

:root {
  --primary-color: #f4f1de;
  --secondary-color: #f2cc8f;
  --text-color: #e07a5f;
}

small {
  color: #fcc03e;
}

/*# sourceMappingURL=main.css.map */
